.header {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 50% 50%;
  height: 100px;
  background-color: #00897C;
}

.title {
  grid-column: 2/3;
  grid-row: 1 / 3;
  width: 460px;
  background-image: url('../assets/movie-tracker-title.png');
  background-repeat: no-repeat;
}

.navlink {
  text-decoration: none;
  color: #ececec;
  height: 50px;
  width: 100px;
}

.favorites-button {
  grid-row: 2 / 3;
}

.navlink:hover {
  background-color: #00554D;
}

.login {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  height: 100%;
}

.welcome-favorites-div {
  height: 100px;
  display: grid;
  grid-template-rows: 50% 50%;
}

.welcome-text {
  grid-row: 1 / 2;
  color: #ececec;
  margin: 10px 150px 30px 0;
}

.button-div {
  grid-row: 2 / 3;
  display: flex;
  justify-content: flex-end;
  padding-right: 150px;
}



