.login {
  display: grid;
  grid-template-rows: 50% 50%;
}

.login-form {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

input {
  border-radius: 10px;
  margin-right: 10px;
  font-family: 'Poppins', sans-serif;
  color: #717171;
  font-size: 13px;
  border: none;
}

.username {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

button {
  height: 15px;
  width: 155px;
  border-radius: 10px;
  margin: 5px;
  color: #282828;
  font-size: 10px;
  font-weight: 600;
  background-color: #969696;
  border: none;
  box-shadow: .2px .2px 5px #b3b3b3;
}

button:hover {
  background-color: #282828;
  color: #969696;
}

.error-message {
  margin: 0;
  height: auto;
}

.create-account-div {
  grid-row: 2 / 3;
}

.create-account {
  text-decoration: none;
  color: #ececec;
  font-size: 13px;
}

.create-account:hover {
  color: #b0aeae;
}