.movie {
  display: grid;
  grid-template-rows: 7% 58% 27% 8%;
  height: 500px;
  width: 350px;
  margin: 10px;
  color: #ececec;
  box-shadow: 1px 1px 10px #969696;
  background-color: #00897C;
  border-radius: 5px;
}

.title-ratings-div {
  color: #ececec;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.movie-title {
  color: #ececec;
  grid-column: 2 / 3;
  margin: 0;
  font-size: 16px;
}

h4 {
  margin: 0;
  font-size: 16px;
}

.overview {
  padding: 25px 25px 0px 25px;
  overflow: hidden;
}

p {
  width: 100%;
  height: 100%;
  padding-right: 60px;
  overflow-y: scroll;
  box-sizing: content-box;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

.poster {
  height: 300px;
  box-shadow: 1px 1px 10px #282828;
}

.add-favorite-button {
  height: 20px;
  width: 120px;
  font-size: 12px;
}

.add-favorite-div {
  padding-top: 3px;
}